@charset "UTF-8";

h1{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border: 10px solid gray;
    padding: 10px;

    margin: 10px;
    margin: auto;
}
a{
    border: 5px solid red;
}